html
  head
    link(href="/css/style.css", rel="stylesheet", type="text/css")
    title New Filtro project

  body
    block content


    script(src='/socket.io/socket.io.js')
    script(src='/scripts/app.min.js')
    block scripts